@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

html { overflow-y: scroll; }
body { display:block; }

section{
	font-family: 'Lora', serif;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    height: 22vw;
    background: rgba(255,211,181,1);
    background: -moz-linear-gradient(left, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgb(228, 146, 92)), color-stop(37%, rgb(241, 184, 137)), color-stop(65%, rgb(247, 193, 140)), color-stop(85%, rgba(255,191,148,1)), color-stop(100%, rgba(255,211,181,1)));
    background: -webkit-linear-gradient(left, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
    background: -o-linear-gradient(left, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
    background: -ms-linear-gradient(left, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
    background: linear-gradient(to right, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc874e', endColorstr='#ffd3b5', GradientType=1 );
       display: block;
}

.imag {
    height:7vw;
    width:12vw;
    margin-top: 0;
    margin-bottom: -15px;
    margin-left: 0;    
}

.img1{
    border-radius: 50%;
    width: 13vw;
    filter: grayscale(100%);
    margin-left: 25vw;
}

.img2{
    border-radius: 50%;
    width: 13vw;
    filter: grayscale(100%);
    margin-left: 23vw;
}

.poze{
    display: inline;
}
.misto{
    width:100vw;
    margin-top:-1vw;
    margin-bottom:1vw;
    font-size:7vw;
    font-family:  'Calibri', Bold;
    color: #EDEDED;
    letter-spacing: -3px;
    text-align: center;
}

.clasa{
    width:100%;
    height: 74%;
}

.descriere{
    text-align: center;
    color:rgb(228, 146, 92);
    margin-top: 35vw;
    font-family: 'Lora', serif;
    position: relative;
    display: block;
    padding-left: 10%;
    padding-right:10%;
    height:100%;
    font-size: 17px;
    font-weight:bold;
}