.bgGradient {
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0%;
    align-content: center;
    align-items: center;
    margin:0;
    background: rgba(255,211,181,1);
background: -moz-linear-gradient(left, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgb(228, 146, 92)), color-stop(37%, rgb(241, 184, 137)), color-stop(65%, rgb(247, 193, 140)), color-stop(85%, rgba(255,191,148,1)), color-stop(100%, rgba(255,211,181,1)));
background: -webkit-linear-gradient(left, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
background: -o-linear-gradient(left, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
background: -ms-linear-gradient(left, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
background: linear-gradient(to right, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc874e', endColorstr='#ffd3b5', GradientType=1 );}

.imag {
    height:7vw;
    width:12vw;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: 1vw;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-radius:4px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  border-radius:4px;
  margin-left: 1vw;
}
 
.sidebar a.active {
  background-color: #26972a;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #2bc93081;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 1vw;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}



table {
    width: 80vw;
    text-align: center;
    padding-left: 30vw;
}

.location {
    height:15px;
    width:10px;
}

th, td {
	border: 2px;
    text-align: left;
    padding: 8px;
    border-radius:4px;
    
}


th {
    background-color: rgb(32, 140, 173);
    color: white;
}

tr:hover {
    background-color: rgba(29, 179, 225, 0.582);
    color: white;
    cursor: pointer;
}

input[type=text].search {
    width:16%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(247, 247, 247);
    background-image: url('assets/search.png');
    background-position: 10px 6px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 16.7vw;
    border-radius:6px;
}

input[type=text].search:focus {
    width: 27%;
}


input[type=text],input[type=password],input[type=date], select, textarea {
    
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    input[type=text],input[type=password],input[type=date], select, textarea {
    
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: center;
}
   
}


input[type=radio] {
    margin-top: 6px;
    margin-left: 10px;
    margin-bottom: 10px;
}

input[type=submit] {
    background-color: #1DB2E1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1DB2E4;
}

.RegContainer {
    text-align: center;
    border-radius: 5px;
    padding: 0vw;
}


.container {
    position: relative;
    text-align: center;
    border-radius: 5px;
    top: 13vw;
    padding: 20px;
}

form {
    background-color: rgb(177, 205, 214);
}




div.dropdown {
    color: #555;
    margin: 3px -22px 0 0;
    width: 143px;
    position: relative;
    height: 17px;
    text-align:left;
    }
    div.submenu
    {
    position: absolute;
    z-index: 100;
    width: 135px;
    display: none;
    margin-left: 90vw;
    border-radius: 6px;
    margin-top:4vw;
    }
    .dropdown  li a {
    color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration:none;
    }
    .dropdown li a:hover{
    background:#155FB0;
    color: #FFFFFF;
    text-decoration: none;
    }
    a.account {
    font-size: 11px;
    line-height: 16px;
    color: #555;
    z-index: 110;
    display: block;
    padding-left: 90vw;
    height: 28px;
    margin: -11px 0 0 -10px;
    text-decoration: none;
    cursor:pointer;
    }
    .root
    {
    list-style: none;
    font-size: 11px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    background: #fff;
    padding: 10px 0 10px 0;
    border-radius: 5px 5px 5px 5px;
    margin: 21px 0 0 0;
    margin-top:4vw;
    }
    .root:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #ffffff;
    position: absolute;
    color: #ffffff;
    top: 54px;
    left: 17px;
    }
    .profile-circle {
        width: 7vw;
        height: 7vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    margin-top:3vw;
    }