.item3{
    padding-left: 15vw;
    display: inline-flex;
}

/* grid 1 */
.grid-container {
  display: grid;
  grid-template: 10vw;
  padding: 0;
}

.grid-container > div.item1{
    padding-left: 15vw;
    display: inline-flex;
    text-align: center;
}

.grid-container > div.tbl-header {
    padding: 0 0;
    display: inline;
    text-align: center;
}

.fancyNav{
    overflow: hidden;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    padding-right: 4vw;
}

.fancyNav li{

    background-image: linear-gradient(to right, #608ccb, #7799d7, #8da6e2, #a2b3ee, #b6c1f9);
    border-right: 0.2px solid rgba(237, 241, 241, 0.932);
    border-left: 0.2px solid rgba(237, 241, 241, 0.932);

    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

    position:relative;
    display: inline-block;
    list-style: none;
}


.fancyNav li:after{
    white-space:nowrap;
    content:'.';
    text-indent:-9999px;
    overflow:hidden;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    opacity:0;

    /* Gradients! */

    background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
    background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));

    /* This will create a smooth transition for the opacity property */

    -moz-transition:0.25s all;
    -webkit-transition:0.25s all;
    -o-transition:0.25s all;
    transition:0.25s all;
}

/* Treating the first LI and li:after elements separately */

.fancyNav li:first-child{
    border-radius: 4px 0 0 4px;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after{
    box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;

    border-radius:4px 0 0 4px;
}

.fancyNav li:last-child{
    border-radius: 0 4px 4px 0;
}

.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after{
    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;

    border-radius:0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after{
    /* This property triggers the CSS3 transition */
    opacity:1;
}

.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after{
    /* Hides the targeted li when we are hovering on the UL */
    opacity:0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after{
    opacity:1 !important;
}

/* Styling the anchor elements */

.fancyNav li a{
    color: #5d5d5d;
    display: inline-block;
    font: 20px/1 Lobster,Arial,sans-serif;
    padding: 12px 35px 14px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index:2;
    text-decoration:none !important;
    white-space:nowrap;
}

input[type=text].search {
    width:16%;
    box-sizing: border-box;
    border: 1.2px solid #ccc;
    font-size: 16px;
    background-color: rgb(247, 247, 247);
    background-image: url('assets/search.png');
    background-position: 10px 6px; 
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
    border-radius:6px;
}

input[type=text].search:focus {
    width: 27%;
}


input[type=text],input[type=password],input[type=date], select, textarea {
    
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 16px;
    resize: vertical;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    input[type=text],input[type=password],input[type=date], select, textarea {
    
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: center;
    }
}


input[type=radio] {
    margin-top: 6px;
    margin-left: 10px;
    margin-bottom: 10px;
}

input[type=submit] {
    background-color: #1DB2E1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1DB2E4;
}

.RegContainer {
    text-align: center;
    border-radius: 5px;
    padding: 0vw;
}


.container {
    position: relative;
    text-align: center;
    border-radius: 5px;
    top: 13vw;
    padding: 20px;
}

form {
    background-color: rgb(177, 205, 214);
}


/* grid 4 */

table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

.tbl-header{
    background-color: rgba(185, 185, 185, 0.274);
    margin-left: 15vw;
    margin-right: 15vw;
    text-align: center;
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.678);
    text-align: center;
  }

.location {
    height:15px;
    width:10px;
}

th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 600;
    font-size: 100%;
    color: rgb(128, 25, 25);
    text-transform: uppercase;
    font-weight: bold;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 400;
    font-weight: bold;
    font-size: 12px;
    color: rgb(182, 99, 22);
    border-bottom: solid 1px rgba(216, 216, 216, 0.596);
  }

tr:hover {
    background-color: rgba(102, 185, 211, 0.432);
    color: white;
    cursor: pointer;
}


/* dropdown */

.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  img {
    vertical-align: middle;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
  }