.bgGradient {
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0%;
    align-content: center;
    align-items: center;
    margin:0;
    background: rgba(255,211,181,1);
background: -moz-linear-gradient(left, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgb(228, 146, 92)), color-stop(37%, rgb(241, 184, 137)), color-stop(65%, rgb(247, 193, 140)), color-stop(85%, rgba(255,191,148,1)), color-stop(100%, rgba(255,211,181,1)));
background: -webkit-linear-gradient(left, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
background: -o-linear-gradient(left, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
background: -ms-linear-gradient(left, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
background: linear-gradient(to right, rgb(228, 146, 92) 0%, rgb(241, 184, 137) 37%, rgb(247, 193, 140) 65%, rgba(255,191,148,1) 85%, rgba(255,211,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc874e', endColorstr='#ffd3b5', GradientType=1 );}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #1387aa;
}

.imag {
    height:90px;
    width:155px;
    margin-top: -15px;
    margin-bottom: -15px;
}


.divSpace{
    padding-top:5%;
}

.font {
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 30px;
    padding-left: 38%;
}


.button {
    background-color: #1DB2E1;
    border: none;
    color: white;
    height: 50px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 50px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.6s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 30px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.center {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 40%;
}

@font-face {
   font-family: myFirstFont;
   src: url(assets/fonts/Convergence-Regular.ttf);
}

@font-face {
   font-family: myFirstFont;
   src: url(assets/fonts/Convergence-Regular.ttf);
   font-weight: bold;
}

div {
    font-family: myFirstFont;
}

.description{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-left: 20%;
    overflow: hidden;
    padding-right:20%;
}