/* body { display:block; 
overflow-x: hidden;
overflow-y: scroll;} */

section{
	font: 25px/1 Lobster,Arial,sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    height: 22vw;
       display: block;
}

.img1{
    border-radius: 50%;
    width: 13vw;
    filter: grayscale(100%);
    margin-left: 25vw;
}

.img2{
    border-radius: 50%;
    width: 13vw;
    filter: grayscale(100%);
    margin-left: 23vw;
}

.poze{
    display: inline;
}
h2{
    width:100vw;
    margin-top:-1vw;
    text-align: center;
    font: 7vw/1 Lobster,Arial,sans-serif;
    color: rgb(82, 81, 81);
    padding-right: 5%;
}

.clasa{
    width:100%;
    height: 74%;
}

.descriere{
    text-align: center;
    color:rgb(228, 146, 92);
    margin-top: 35vw;
    font: 23px/1 Lobster,Arial,sans-serif;
    position: relative;
    display: block;
    padding-left: 10%;
    padding-right:10%;
    height:100%;
}