div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

table {
    width: 80vw;
    text-align: center;
    padding-left: 30vw;
}

.location {
    height:15px;
    width:10px;
}

th, td {
    border: 2px;
    text-align: left;
    padding: 8px;

}


th {
    background-color: rgb(32, 140, 173);
    color: white;
}

tr:hover {
    background-color: rgba(29, 179, 225, 0.582);
    color: white;
    cursor: pointer;
}

input[type=text].search {
    width:16%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(247, 247, 247);
    background-image: url('assets/search.png');
    background-position: 10px 6px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 17.7vw;
}

input[type=text].search:focus {
    width: 27%;
}


input[type=text],input[type=textarea],input[type=password],input[type=date],input[type=location],input[type=roomname],input[type=size],input[type=tags], select, textarea {

    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    input[type=text],input[type=password],input[type=date],input[type=size],input[type=texarea], select, textarea {

        width: 30%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        text-align: center;
    }

}


input[type=radio] {
    margin-top: 6px;
    margin-left: 10px;
    margin-bottom: 10px;
}

input[type=submit] {
    background-color: #1DB2E1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1DB2E4;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: rgba(185, 185, 185, 0.274);
    border-radius: 8px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="location"],
input[type="roomname"],
input[type="size"],
input[type="tags"],
input[type="textarea"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    text-align: center;
}


select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}


button {
    padding: 19px 39px 18px 39px;
    background: lightgray;
    color: rgb(82, 81, 81);
    font: 25px/1 Lobster,Arial,sans-serif;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

@media screen and (min-width: 480px) {

    form {
        max-width: 480px;
    }

}